<article class="project_thumbnail">
  <div class="thumbnail_content">
    <div class="img-container modal-trigger">
      <div class="tile"> 
        <div class="container">
          <!-- Normal Demo-->
          <div class="column">
            <!-- Post-->
            <div class="post-module">
              <!-- Thumbnail-->
              <div class="thumbnail">
                <div class="date">
                  <div class="day">27</div>
                  <div class="month">Mar</div>
                </div>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/photo-1429043794791-eb8f26f44081.jpeg"/>
              </div>
              <!-- Post Content-->
              <div class="post-content">
                <div class="category">Photos</div>
                <h1 class="title"><%= link_to project.title, project_path(project.id) %></h1>
                <p class="description"><%= project.summary %></p>
                <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
</article>


