<div class="shim"></div>
<div class="content">

<!-- List of Tags -->
<div id='tag_cloud'>
  <% tag_cloud  Project.tag_counts, %w[s s s] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class:css_class  %>
  <% end %>
</div>

<%= render @projects %>

