<%= render 'projects/tag_bar' %>


<div class="overlay-layer"></div>
<div class="background-layer">
  <%= render @projects %>
</div>

<div class="modal">
  use 'pushstate' to render projects#show page here
</div>