
<h1>My Profile</h1>
<p>Here are your saved projects:</p>

<div class="profile-row">
  <div class="medium-9 columns">
    <%= render(:partial => 'projects/project', :collection => @projects) %>
  </div>
  <div class="medium-3 columns">
    <div class="profile-bar">
      <p>Profile</p>
      <p>Hello, <%= current_user.first_name %>!</p>
    </div>
</div>