
ul {
  list-style-type: none;
}

.project_thumbnail {
 display: inline-block;
}

.thumbnail_content {
border: 1px solid black;
border-radius: 8px;
margin: 2em;
}

.thumbnail_lg {
max-width: 11.8 em;
max-height: 10.8 em;

}

.title {
padding-top: 5px;
padding-left: 5px;
padding-right: 5px;
}

.img-container {
border: 1px grey;
border-radius: 8px;
width: 12em;
height: 12em;
margin: 10px;
overflow: hidden;
  img {
  width: 100%;
  }
}

.icon_group {
border-top: 1px solid black;
margin: 0px;
padding: 10px;
}

.favourite {
float: right;
padding-left: 3px;
padding-right: 3px;
}

ul > li {
  display: inline-block;
}

// ************************************************************************
// Styles for overlay. If you makes changes below, make sure you
// don't break code in 'project.js' by altering class names used by jquery.

*{box-sizing: border-box;}
body,html{
  min-height: 100%;
}

.shim{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: #000;
  opacity: 0;
  transition: opacity .1s ease-out;
  z-index: 1;
    &.open {
      pointer-events: auto;
      opacity: 0.5;
    }
}

.toggle-overlay{
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  font-style: italic;
  outline: none;
}
.toggle-overlay:active{
  transform: translate3d(0,1px,0);
}

.content{
  transition: all .1s ease-in-out;
  -webkit-filter: blur(0);
    &.blur {
      -webkit-filter: blur(5px);
    }
}

.overlay{
  position: fixed;
  top: 25%;
  right: 25%;
  left: 25%;
  min-height: 200px;
  padding: 20px;
  background: #fff;
  z-index: 2;

  opacity: 0;
  pointer-events: none;
  transform: scale(0.8,0.8);
  transition: all .5s cubic-bezier(.14,1.42,.67,1);
}

.overlay.open{
  opacity: 1;
  pointer-events: auto;
  transform: scale(1,1);
}

.meta{
  margin-top: 100px;
  color: #999;
  font-size: 0.8em;
}