
ul {
  list-style-type: none;
}

 .project_thumbnail {
   display: inline-block;
 }

  .thumbnail_content {
  border: 1px solid black;
  border-radius: 8px;
  margin: 2em;
 }

 .thumbnail_lg {
 max-width: 11.8 em;
 max-height: 10.8 em;

 }

 .title {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
 }

.img-container {
  border: 1px grey;
  border-radius: 8px;
  width: 12em;
  height: 12em;
  margin: 10px;
  overflow: hidden;
    img {
    width: 100%;
    }
 }

 .icon_group {
  border-top: 1px solid black;
  margin: 0px;
  padding: 10px;
 }

 .favourite {
  float: right;
  padding-left: 3px;
  padding-right: 3px;
 }

ul > li {
  display: inline-block;
}