div {
  display: table;
}

.project-page {
  width: 60%;
  padding: 40px 0;
  margin: -30px auto 0 auto;
  box-sizing: border-box;
}

.project-content{

}
// top page/ user info
.top-page{
  position: relative;
  padding-left: 60px;
  min-height: 48px;
}

.user-project-info {

}

.middle-page {

}

// middle page left
//note: shots will push right content; adjust the width

.shots {
  float: left;
  width: 74%;
  position: relative;
  z-index: 1;
}

.project-pictures {
  width: 130%;
  margin: 0 0 30px 0;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.attach-pictures {
  display: inline-table;
  margin: 20px 0 0 0;
  min-height: 40px;
  background-repeat: no-repeat;
  background-position: 0 0; 
}

.main-project-img {
  position: relative;
  float: left;
  width: 74.5454%;
}

.sub-project-img {
  width: 10%
}


//midle page right

.complete-check {
  font-size: 12em;
}

.right-side {
  padding-top: 1.21%
}

.share-bar {

}

.ratings {

}

.completed-number {

}

.favourites {
  
}

.related-project-pictures{
  
}

.tags {

}

//bottom

.project-summary{

}


.project-tabs {

}

.project-tabs > .instructions {

}

.project-tabs > .reviews {

}

.project-tabs > .tips-comments{

}


