@import "_variables";

/************************************/
/* COMMON ELEMENTS */

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
  color: $color-secondary;
  text-decoration: none;
  cursor: pointer;
}

#{$a-tags-hover} {
  color: $color-accent-dark;
  cursor: pointer;
}

.button, input[name="commit"] {
  padding: 15px;
  border: none;
  background: $color-primary;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: all 100ms linear;
  &:hover {
    border: none;
    background: $color-accent-dark;
    color: $color-primary;
  }
  &:active {
    background: $color-accent-dark;
  }
}

h1 {
  color: $color-primary;
  text-transform: uppercase;
}

h2 {
  color: $color-secondary;
  font-style: italic;
}

h3 {
  color: $color-accent-dark;
  text-transform: uppercase;
}

h4 {
  color: $color-accent-dark;
}

.spacer-xl {
  height: 80px;
  width: 80px;
}

.spacer-l {
  height: 40px;
  width: 40px;
}

.spacer-m {
  height: 20px;
  width: 20px;
}

.spacer-s {
  height: 10px;
  width: 10px;
}

/************************************/
/* CONTAINERS */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  // contains all visible content, including navbar
  // add styles here
}

.center-container {
  height: 100%;
  text-align: center;
  &::before {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
  }
}

.main-content {
  // this is the container for all content visible below navbar
  // add styles here
}



.row-centered {
  display: flex;
  justify-content: center;
  align-items: center
}

.shadow-box {
  width: 500px;
  background: #fff;
  box-shadow: 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12), 0px 8px 10px -5px rgba(0, 0, 0, 0.3);
  z-index: 10;
  padding: 25px;
}