$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
  color: red;
  text-decoration: none;
}

#{$a-tags-hover} {
  color: blue;
}

body {

}

.main-content {
  margin-top: 70px; // this should be >= navbar height so content isn't hidden
}

.navbar {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  height: 70px;
  background: #E7E3D8;
  border-bottom: 1px solid #ADA397;
  left: 0;
  padding: 20px 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}