@import "_variables";

.nav-bar {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  background-color: $color-accent-light;
}

#nav-dropdown-menu {
  padding: 0;
  margin: 0;
}

.nav-bar-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-bar-title img {
  max-width: 100px;
}

.center-container > .search-bar {
  border: 0;
}

.center-search {
  flex-grow: 1;
  &::before {
    height: 100%;
    vertical-align: middle;
  }
}

.search-menu {
  display: flex;
}

.search-bar {
  width: 100%;
  border: 0;
  &:hover, &:focus {
    background: $color-accent-dark;
  }
}

.search-menu > input[name="q"] {
  padding-left: 10px;
  background: #eee;
}

.search-container {
}

.search-button {
  display: flex;
  justify-content: flex-end;
  width: .01em;
  height: .01em;
  opacity: 0;
  &:hover {
    cursor: default;
  }
}

.vertical {
  position: fixed;
  // top: 0;
  // right: 0;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  // margin-top: 70px;
  // padding-top: 25px;
  width: 175px;
  background-color: $color-accent-light;
}

.vertical > li {
  font-size: .5em;
  padding: 1em;
}

.fa-user-circle-o {
  cursor: pointer;
}

.fa-sign-in {
  cursor: pointer;
}

.login-signup {
  padding: 10px;
}

.login-signup > li {
  background-color: $color-accent-light;
  padding: .5em;
}

.fa-search {
  padding: 6px;
}
