@import "_variables";

/************************************/
/* SAVE/COMPLETE BUTTONS */

// be careful changing these class names since they're attached to jquery/ajax functions


.save-button-container {
  position: relative;
  width: 55px;
  height: 55px;
  z-index: 1;
}

// input element for Save/Unsave button
#save {
  position: absolute;
  top: 0;
  left: 1;
  z-index: 1;
}

// icons for Save/Unsave button
#plus-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  color: #fff;
  background-color: red;
  font-size: 40px;
  width: 55px;
  height: 55px;
}

#bookmark-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: #fff;
  background-color: blue;
  font-size: 40px;
  width: 55px;
  height: 55px;
}

.button, input[name="save"] {
  &.flip {
    perspective: 1000;
  &.flipped {
    transform: rotateX(180deg);
  }
  &.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  }
  }
  &.complete {
  color: #fff;
  background: #95AB63;
    &:hover {
      background: #779f1f;
    }
  }
  &.save {
  color: #fff;
  background: #4257ae;
    &:hover {
      background: #1839bd;
    }
  }
  .backside {
    display: none;
    &.show {
      display: inline-block;
      transform: rotateX(180deg);
    }
  }
  .front.hide {
    display: none;
  }
  &.save {
    &:before {
      display: inline-block;
      content: '\f067'; // plus icon
      font-family: fontawesome;
      // padding: 5px;
    }
    &.added:before {
      content: '\f02e'; // bookmark icon
      transform: rotateX(180deg);
    }
  }
  &.complete {
    &:before {
      display: inline-block;
      content: '\f046';
      font-family: fontawesome;
      // padding: 5px;
    }
    &.added:before {
      content: '\f00c';
      // padding: 5px;
    }
  }
}



/*************************************/

.user-pic-size {
  width: 50px;
  max-height: 50px;
}

.flex-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  max-width: 800px;
  -webkit-justify-content: center;
  justify-content: center;
}

.tabs-project{
	display: table;
	table-layout: fixed;
	width: 100%;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);

	>li{
		transition-duration: .25s;
		display: table-cell;
		list-style: none;
		text-align: center;
		padding: 20px 20px 25px 20px;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		color: $color-accent-dark;

		&:before{
			z-index: -1;
			position: absolute;
			content: "";
			width: 100%;
			height: 120%;
			top: 0;
			left: 0;
			background-color: rgba(255, 255, 255, .3);
			-webkit-transform: translateY(100%);
			transform: translateY(100%);
			transition-duration: .25s;
			border-radius: 5px 5px 0 0;
		}

		&:hover{
			&:before{
				-webkit-transform: translateY(70%);
				transform: translateY(70%);
			}
		}

		&.active{
			color: rgb(80, 85, 90);

			&:before{
				transition-duration: .5s;
				background-color: white;
				-webkit-transform: translateY(0);
				transform: translateY(0);
			}
		}
	}
}

.tab__content{
  //this changes color when pressed
	background-color: $color-accent-light;
	position: relative;
	width: 100%;
	border-radius: 5px;

	>li{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;

		display: none;
		list-style: none;

		.content__wrapper{
			border-radius: 5px;
			width: 100%;
			padding: 45px 40px 40px 40px;
			background-color: $color-accent-dark;
		}
	}
}


.mark_complete {
  background-color: tomato;
}

.completed{
  background-color: blue;
}






