@import "_variables";

.project-page {
  width: 50%;
  padding: 40px 0;
  margin: -30px auto 0 auto;
  box-sizing: border-box;
}

.project-content{
  display: grid;
}
// top page/user info
.top-page{
  position: relative;
}

.user-project-info {
  padding: 3%;
}

.user-pic-size {
  padding: 1%;
  float: left;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;
  width: 19%;
  max-height: 100%;
}

.project-title {
  font-size: 2.7em;
  padding-left: 4%;
}

.project-by {
  padding-left: 4%;
}

//middle page
.mid-page {
  width: 100%;
  display: flex;
  border-radius: 3px;
  background-color: grey;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

// middle page left
//shots contains both both project pictures and its sub pictures
.mid-left {
  width: 700px;
  min-height: 300px;
  margin: 0 0 30px 0;
  padding: 10px;
}

//note: project-pictures will push right content; adjust the width
.project-pictures {

}

.main-project-img {
  max-width: 700px;
  padding: 20px;
  max-height: 600px;
}

.attach-pictures {
  display: inline-table;
  padding: 20px 20px 0px 20px;
  min-height: 40px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sub-project-img {
  width: 20%
}

//midle page right
.mid-right {
  padding-top: 1.21%;
  display: flex;
  justify-content: space-around;
  width: 314px;
  flex-direction: column;
}

.complete-check {
  font-size: 2em;
}

.share-bar {

}

.ratings {

}

.completed-number {

}

.favourites {

}

.related-project-pictures{

}

.tags {

}

//bottom

.project-summary{

}


.project-tabs {

}

#tag_cloud {
  width: 400px;
  line-height:1.7 em;
  .s { font-size: .8em; }
  .s { font-size: .8em; }
  .s { font-size: .8em; }
}


.wrapper{
	min-width: 600px;
	max-width: 900px;
	margin: 0 auto;
}

.tabs-project{
	display: table;
	table-layout: fixed;
	width: 100%;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
	
	>li{
		transition-duration: .25s;
		display: table-cell;
		list-style: none;
		text-align: center;
		padding: 20px 20px 25px 20px;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		color: $color-accent-dark;
		
		&:before{
			z-index: -1;
			position: absolute;
			content: "";
			width: 100%;
			height: 120%;
			top: 0;
			left: 0;
			background-color: rgba(255, 255, 255, .3);
			-webkit-transform: translateY(100%);
			transform: translateY(100%);
			transition-duration: .25s;
			border-radius: 5px 5px 0 0;
		}
		
		&:hover{
			&:before{
				-webkit-transform: translateY(70%);
				transform: translateY(70%);
			}
		}
		
		&.active{
			color: rgb(80, 85, 90);
			
			&:before{
				transition-duration: .5s;
				background-color: white;
				-webkit-transform: translateY(0);
				transform: translateY(0);
			}
		}
	}
}

.tab__content{
  //this changes color when pressed
	background-color: $color-accent-light;
	position: relative;
	width: 100%;
	border-radius: 5px;
	
	>li{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		
		display: none;
		list-style: none;
		
		.content__wrapper{
			border-radius: 5px;
			width: 100%;
			padding: 45px 40px 40px 40px;
			background-color: $color-accent-dark;
		}
	}
}