@import "_variables";

.project_thumbnail {
  display: inline-block;
}

.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  min-width: 300px;
  height: 400px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  &:hover {
    -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  }
}

.hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.post-module:hover .thumbnail img, .hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .6;
}

.post-module {
  .thumbnail {
    background: #000000;
    height: 300px;
    overflow: hidden;
    .save {
      opacity: 0;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 1;
      background: #e74c3c;
      width: 55px;
      height: 55px;
      padding: 15.5px 0;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      color: #FFFFFF;
      font-weight: 700;
      text-align: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 1.5em;

    }
    img {
      display: block;
      width: 120%;
      -webkit-transition: all 0.3s linear 0s;
      -moz-transition: all 0.3s linear 0s;
      -ms-transition: all 0.3s linear 0s;
      transition: all 0.3s linear 0s;
    }
  }
  .post-content {
    position: absolute;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    padding: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    .complete {
      opacity: 0;
      position: absolute;
      top: -34px;
      left: 0;
      background: #e74c3c;
      padding: 10px 15px;
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
    // .title h1{
    //   margin: 0;
    //   padding: 0 0 10px;
    //   color: #333333;
    //   font-size: 26px;
    //   font-weight: 700;
    // }
    // .sub_title {
    //   margin: 0;
    //   padding: 0 0 20px;
    //   color: #e74c3c;
    //   font-size: 20px;
    //   font-weight: 400;
    // }
    .summary {
      display: none;
      color: #666666;
      font-size: 14px;
      line-height: 1.8em;
    }
    .post-meta {
      margin: 30px 0 0;
      color: #999999;
      .timestamp {
        margin: 0 18px 0 0;
      }
      a {
        color: #999999;
        text-decoration: none;
      }
    }
  }
}

.hover .post-content .summary {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}

.thumbnail-container {
  max-width: 300px;
  min-width: 400px;
  margin: 0 auto;
  &:before, &:after {
    content: '';
    display: block;
    clear: both;
  }
  .column {
    width: 50%;
    padding: 0 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    .demo-title {
      margin: 0 0 15px;
      color: #666666;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .info {
    width: 300px;
    margin: 50px auto;
    text-align: center;
    h1 {
      margin: 0 0 15px;
      padding: 0;
      font-size: 24px;
      font-weight: bold;
      color: #333333;
    }
    span {
      color: #666666;
      font-size: 12px;
      a {
        color: #000000;
        text-decoration: none;
      }
      .fa {
        color: #e74c3c;
      }
    }
  }
}

/************************************/
/* POP-UP MODAL */

// Styles for modal/overlay. If you makes changes below, make sure you
// don't break code in 'modal.js' by altering class names used by jquery.


.overlay-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: #000;
  opacity: 0;
  transition: opacity .1s ease-out;
  z-index: 4;
    &.open {
      pointer-events: auto;
      opacity: 0.5;
    }
}

.modal-trigger {
  cursor: pointer;
  text-align: center;
  padding: 20px 20px;
  // font-style: italic;
  outline: none;
}
.modal-trigger:active {
  transform: translate3d(0,1px,0);
}

.background-layer {
  transition: all .05s ease-in-out;
  -webkit-filter: blur(0);
    &.blur {
      -webkit-filter: blur(5px);
    }
}

// .modal {
//   position: fixed;
//   // top: 50px;
//   // right: 50px;
//   // left: 50px;
//   min-width: 800px;
//   min-height: 800px;
//   padding: 20px;
//   background: #fff;
//   z-index: 50;
//   background: #f4f4f4;
//   opacity: 0;
//   pointer-events: none;
//   transform: scale(0.8,0.8);
//   transition: all .5s cubic-bezier(.14,1.42,.67,1);
// }

.modal.open {
  position: absolute;
  z-index: 50;
  top: 75px;
  left: 15%;
  right: 15%;
  width: inherit;
  min-width: 800px;
  min-height: 800px;
  padding: 20px;
  opacity: 1;
  pointer-events: auto;
  transform: scale(1,1);
  background: $color-background;
}

.meta {
  margin-top: 100px;
  color: #999;
  font-size: 0.8em;
}

.modal > .nav-bar {
  display: none;
}

.modal > .row-centered {
  position: absolute;
  z-index: 9997;
  top: 20px;
  left: 50%;
  width: 920px;
  margin-left: -460px;
  padding: 40px 95px;
  background: #f4f4f4;
  background-position: fixed;
  box-sizing: border-box;
  border-radius: 6px;
  display: block;
}

.modal > .wrapper {
  position: relative;
  max-width: 440px;
  margin-bottom: 20px;
  background: #f4f4f4;

}

.modal > .content__wrapper {
    position: relative;
    float: left;
    width: 74.54545%;
}