// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/************************************/
/* basic setup */

* {
  margin: 0px;
  padding: 0px;
  position: relative;
  cursor: inherit;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  cursor: default;
}

a {
  cursor: pointer;
}

/************************************/
/* my little component librory v1 */

.container {
  width: 90%;
  max-width: 800px;
  margin: 0px auto;
  &.box {
    padding: 40px 0px;
  }
}

h1, h3 {
  color: rgba(0, 0, 0, 0.87);
}

p, h2, h4 {
  color: rgba(0, 0, 0, 0.54);
}

.hinit {
  color: rgba(0, 0, 0, 0.38);
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.center-container {
  height: 100%;
  text-align: center;
  &::before {
    content: "\200B";
    height: 100%;
    vertical-align: middle;
    display: inline-block;
  }
}

// .center {
//   vertical-align: middle;
//   display: inline-block;
// }

.split-xl {
  height: 80px;
}

.split-l {
  height: 40px;
}

.split-m {
  height: 20px;
}

.split-s {
  height: 10px;
}

/************************************/
/* main element */

input {
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  background: transparent;
  font-size: 13px;
  padding: 10px;
  padding-left: 42px;
  border: 1px solid rgba(0, 0, 0, 0.38);
  cursor: text;
  transition: 0.3s;
  &:hover, &:focus {
    border: 1px solid rgba(0, 0, 0, 1);
  }
  &::-webkit-input-placeholder, &::-moz-placeholder {
    color: rgba(0, 0, 0, 0.54);
  }
}

label {
  height: 37px;
  width: 37px;
  position: absolute;
  .material-icons {
    height: 100%;
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
    line-height: 37px;
    font-size: 24px;
  }
}

input[type="button"] {
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
}

/************************************/
/* styling the pen*/

#ui {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ui-right, #ui-left {
  padding: 40px;
}

#ui-right {
  width: 300px;
  background: #b7b7b7 url("https://i.imgur.com/X3kbI4Y.jpg") center;
  background-size: cover;
  text-align: left;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12), 0px 3px 5px -1px rgba(0, 0, 0, 0.3);
  z-index: 90;
}

.tint {
  width: 100%;
  height: 100%;
  background: #f9b445;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.5;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
}

#ui-right {
  p, a {
    color: rgba(0, 0, 0, 0.54);
    font-size: 17px;
    font-weight: 700;
  }
}

#ui-left {
  width: 300px;
  background: #fff;
  box-shadow: 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12), 0px 8px 10px -5px rgba(0, 0, 0, 0.3);
  z-index: 91;
  h3 {
    font-size: 20px;
    text-transform: capitalize;
  }
}

input {
  border: 1px solid #f9b445;
  &:hover, &:focus {
    border: 1px solid rgba(0, 0, 0, 0.54);
  }
  &[type="button"] {
    color: #f9b445;
    background: rgba(0, 0, 0, 0.87);
    border: 1px solid rgba(0, 0, 0, 0.87);
    &:hover {
      color: rgba(0, 0, 0, 0.87);
      background: #f9b445;
      border: 1px solid #f9b445;
    }
  }
}

#ad {
  color: rgba(255, 255, 255, 0.7);
  font-size: 17px;
  letter-spacing: 1px;
}