@import "_variables";

//position relative will hide scroll bar
.tag-bar-container{
  position: relative;
  margin: 0px auto;
  padding-top: 10px;
}

.tag-bar-wrapper {
  overflow: auto;
  padding: 0;
}

//having 2 flex somehow makes this scroll sideways

.tag-bar-wrapper-flex {
   height: 60px;
  display: flex;
}

.tag-word {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  height: 56px;
  width: inherit;
  min-width: 80px;
  margin: 0 5px;
  background-size: cover;
  white-space: nowrap;
  background-color: $color-accent-light;
  border-radius: 20px;
}

.submenu .menu .vertical {
  z-index: 10;
}