// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_variables";

.main-profile {
 
}

#created_projects {
  display: none;
}

#completed_projects {
  display: none;
}

.top-profile{
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/blueprint.jpeg");
  height: 240px;
}

.user-profile-pic {
  width: 124px;
  height: 124px;
  border: 5px white solid;
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: inherit;
}

.user-name {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.profile-row {
}

.profile-bar {
  border: 1px solid black;
}

.profile-tab-bar {
  display: flex;
  margin-top: 6em;
  justify-content: center;
}


// button styling

.tab-selected {
  background-color:#1779BA;
  border: 2px solid black;
}