// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_variables";

.profile-row {
  margin-left: 80px;
  margin-right: 80px;
  max-width: 80rem;
}

.profile-bar {
  border: 1px solid black;
}

#created_projects {
  display: none;
}

#completed_projects {
  display: none;
}