// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_variables";

.main-profile {
 
}

.top-profile{
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/blueprint.jpeg");
  height: 240px;
}

.user-profile-pic {
  width: 124px;
  height: 124px;
  border: 5px white solid;
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: inherit;
}

.user-name {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.profile-row {
  margin-left: 80px;
  margin-right: 80px;
  max-width: 80em;
  display: flex;
  justify-content: center;
}

.profile-bar {
  border: 1px solid black;
}

#created_projects {
  display: none;
}

#completed_projects {
  display: none;
}

.profile-tab-bar {
  display: flex;
  margin-top: 6em;
  justify-content: center;
}