<div class="tag-bar-container">
  <div class="tag-bar-wrapper">
    <div class="tag-bar-wrapper-flex">
      <div class="tag-bar-wrapper-flex">
      <div class="tag-word"> Wood </div>
      <div class="tag-word"> Wood </div>
      <div class="tag-word"> Wood </div>
      <div class="tag-word"> Wood </div>
      </div>
    </div>
  </div>
</div>