<div class="top-bar-container" data-sticky-container>
  <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li><span class="menu-text">Site Title</span></li>
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="has-submenu">
            <a href="#">Login</a>
            <ul class="submenu menu vertical" data-submenu>
              <li><a href="#">Login</a></li>
              <li><a href="#">Sign Up</a></li>
            </ul>
          </li>
          <li class="has-submenu">
            <a href="#">Add Project</a>
            <ul class="submenu menu vertical" data-submenu>
              <li><a href="#">Add Link</a></li>
              <li><a href="#">Create New</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>